@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}


/* estilos para o dropdown */
.dropdown-menu {
    background-color: #212529; /* Cor escura */
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* espaço entre os itens do menu */
div > ul > li.nav-item{
    margin: 0px 15px;
}